.title{
    font-weight: 400;
    font-size: 35px;
}
.overview:hover{overflow-y: auto;}
.overview{
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    padding-top: 20px;
    overflow-y: hidden;
}